/* Estilos base */
:root {
  --primary-color: #ffffff;
  --secondary-color: #283845;
  --tertiary-color: #E3D0D8;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* Estilos de header */
header {
  margin-top: 10px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

a {
  color: #5c6bf0;
  text-decoration: none;
}

@media (max-width: 1080px) {
  header {
    padding: 10px;
  }

  ul {
    flex-wrap: wrap;
  }

  li {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

.logo {
  margin-top: 25 px;
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 350%;
  height: auto;
}



/* Estilos de footer */
footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.left-col {
  flex-basis: 50%;
}

.right-col {
  flex-basis: 50%;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.footer-nav li {
  margin-left: 20px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  footer {
    padding: 10px;
  }

  .footer-container {
    flex-direction: column;
  }

  .left-col,
  .right-col {
    flex-basis: auto;
    text-align: center;
  }

  .footer-nav {
    justify-content: center;
    margin-top: 20px;
  }

  .footer-nav li {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Estilos del gráfico */
#myChart {
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px
}
.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
  margin-bottom: 20px;
  margin-left: 50px; /* Modificado */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #333;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #333;
  text-align: left;
  margin-left: 50px;
}

@media (max-width: 480px) {
  /* Estilos para pantallas de hasta 480px de ancho */
  header {
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  #myChart {
    margin-right: 0;
  }
  
  h3 {
    margin-left: 0;
  }
}
.creditos {
  text-align: left;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 12px;
}

@media (max-width: 768px) {
  .creditos {
    font-size: 20px;
  }
}
.table-container {
  overflow-x: auto;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .table-container {
    overflow-x: scroll;
    margin: 20px -15px;
  }

  table {
    min-width: 700px;
  }
}
.barra-degradada {
  height: 10px;
  background-image: linear-gradient(to right, rgb(174, 0, 255), rgb(250, 47, 81), rgb(0, 255, 234));
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.texto-ejemplo {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 5spx 0;
  line-height: 1.5;
}
.texto-especial {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  line-height: 1.5;
}
.separador {
  border-top: 1px solid rgb(87, 87, 87);
}

@media screen and (max-width: 768px) {
  .separador {
    border-top: none;
    border-left: 2px solid black;
    height: 20px;
    width: 100%;
  }
}